<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="./footer-copyrights.component.css" />

<hr />
<!-- <div class="container-storage text-white"> -->
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center">© 2020 Copyright:
          <a href="https://in.linkedin.com/in/paurushtaunk" target="_blank" rel="noopener noreferrer"> Paurush M Taunk</a>
        </div>
        <marquee width="100%" direction="right" height="100px" class="text-bold">This is a {{ applicationType }}</marquee>
    </footer>
<!-- </div> -->
