<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="./product-list.component.css" />
<!-- <div class="ad-banner-example">Hello</div> -->
<div class="bg-secondary" >
    <div class="btn btn-group bg-success">
        <button class="MasterButton" data-qe-id="GotoHomescreen" id="ProdListHomeButton" routerLink="/Homescreen" *ngIf="currDiv == 'ProdList'">
            Goto Home screen
        </button>
        <button class="MasterButton" data-qe-id="ShowProdList" id="ShowProdListButton" *ngIf="currDiv == 'ShowProdList'" (click)="ShowProdL('ProdList')">
            Show Product List
        </button>
    </div>
</div>

<div class='card bg-secondary' *ngIf="currDiv == 'ProdList'">
    <div class="btn-group">
        <button class="closeButton closebuttonborder" data-qe-id="closeButton" title="Close" (click)="CloseProdList($event)"></button>
        <button class="maxminButton maxminbuttonborder" data-qe-id="maxminButton" title="Restore Down"></button>
        <button class="mizeButton mizebuttonborder" data-qe-id="mizeButton" title="Minimize" (click)="ShowDiv('ShowProdList')"></button>
    </div>
</div>
<div *ngIf="currDiv == 'ProdList'">
    <div class='card bodybackground'>
        <thead class='btn-dark' align='center'>
            <div class='card-header glow' id="PageTitle">
                {{pageTitle}}
            </div>
            <!--Flip Card with an image's
        <div align="right">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://i.pinimg.com/236x/3a/80/e2/3a80e26b337d44182db9426a44193c39.jpg" data-que-id="ProfileIcon" style="width:100px;height:100px;">
          </div>
          <div class="flip-card-back">
            <p class="center middle">Osho Taunk</p>
          </div>
        </div>
      </div>
    </div> -->
        </thead>
        <div class='card-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:
                    <div class='col-md-0'>
                        <input type='text' id="filterbyinput" />
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h4>Filtered by:</h4>
                </div>
            </div>
            <div class='table-responsiv'>
                <table class='table'>
                    <thead class="btn-dark">
                        <tr>
                            <th>
                                <button class='btn btn-light'>
                                    Show Image
                                </button>
                            </th>
                            <th>Product</th>
                            <th>Code</th>
                            <th>Available</th>
                            <th>Price</th>
                            <th>5 star Rating</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-right">{{ getPageNumbers() }}</p>
    </div>
    <footer>
        <app-footer-copyrights>
            <!-- [applicationType]="applicationType" -->
        </app-footer-copyrights>
    </footer>
</div>