<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="./product-list.component.css"/>
<div class='card bg-success'>
    <thead class='btn-dark' align='center'>
    <div class='card-header'>
        {{pageTitle}}
    </div></thead>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:
                <div class='col-md-0'>
                    <input type='text'/>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filtered by:</h4>
            </div>
        </div>
        <div class='table-responsiv'>
            <table class='table'>
                <thead class="btn-dark">
                    <tr>
                        <th>
                            <button class='btn btn-dark'>
                                Show Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star Rating</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <p class="text-right">{{ getPageNumbers() }}</p>
</div>
